.container
    h3 What They Say ...
    .testimonial
        .testi
            .testiname Janna
            .testidesc Just straight up coffee that tastes great and travels well. Made from organic beans.
        .testi
            .testiname Nani
            .testidesc it’s more than a drink. It’s a way to connect. It’s a way to share moments.
        .testi
            .testiname Marry
            .testidesc Freshly roasted, responsibly sourced coffee beans.
        .testi
            .testiname John
            .testidesc No boojie bullshit. No wasteful packaging. Just straight up coffee that tastes good and travels well. 