footer
    .container
        div
            a(href="https://www.facebook.com/ahmedyasser450/" , target="_blank")
                i(class="fab fa-facebook-f" )
            a(href="")
                i(class="fab fa-instagram")
            a(href="https://wa.me/+201067610467" , target="_blank")
                i(class="fab fa-whatsapp")
            a(href="https://telegram.me/Ragab101", target="_blank")
                i(class="fab fa-telegram-plane")
            a(href="https://www.linkedin.com/in/ahmedyasser54/", target="_blank")
                i(class="fab fa-linkedin-in")
        p &copy; Developed with <i class="fas fa-heart"></i> By A.Ragab & A.Yasser || 2021