header
    h1.logo
        a(href="home.html") BARISTA
    .searchingBW
        i(class="far fa-search")
        .dl-mode
            i(class="fal fa-lightbulb-on")
            i(class="fad fa-moon")
    ul
        li
            a(href="home.html") Home
        li
            a(href="products.html") Products
        li
            a(href="about.html") About
        li
            a(href="FAQ.html") FAQs
    div(id="nav-icon1")
        span
        span
        span
.searchingBox
    .inputSearch(class="inert")
        input(type="text", placeholder="Search for a product" , class="Sinput")
    .filtering(class="inert")
