.container
    h2
        a(href="products.html")
            <i class="fal fa-mug-hot"></i>roducts
    .main-products-cont
        .product-cont
            .product
                img(src="./images/pexels-abdulrhman-elkady-3752647.jpg", alt="Caffe Latte")
                .overlay
                    i(class="fal fa-lock-alt")
        .product-cont
            .product
                img(src="./images/pexels-viktoria-alipatova-2074127.jpg", alt="Flat white")
                .overlay
                    i(class="fal fa-lock-alt")
        .product-cont
            .product
                img(src="./images/pexels-cottonbro-4790055.jpg", alt="Caramel Macchiato")
                .overlay
                    i(class="fal fa-lock-alt")
        .product-cont
            .product
                img(src="./images/pexels-ryutaro-tsukata-6249396.jpg", alt="Velvet Latte")
                .overlay
                    i(class="fal fa-lock-alt")
        .product-cont
            .product
                img(src="./images/coffee-gb3644de8a_1280.jpg", alt="Cortado")
                .overlay
                    i(class="fal fa-lock-alt")
        .product-cont
            .product
                img(src="./images/pexels-los-muertos-crew-7488730.jpg", alt="Mocha")
                .overlay
                    i(class="fal fa-lock-alt")
        .modal
            img(src="./images/pexels-viktoria-alipatova-2074127.jpgs-viktoria-alipatova-2130134.jpg", alt="", class="full-image")
            p.caption
    a(href="products.html", class="more") More 