section.FAQ
    .container
        .questions
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | Where're our locations 
                    i(class="fal fa-question")
                .a We’re far easier to get to than you might think – there are good road links to Bangor along the north Wales coast from the M56 and M6. There are direct trains from London, 
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | What are our features 
                    i(class="fal fa-question")
                .a When it comes to quality and excellence, we at Eventtia believe in helping our clients to provide the best experiences ever to their attendees. To make this happen, 
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | What is our purpose 
                    i(class="fal fa-question")
                .a As it has been from the beginning, our purpose goes far beyond profit. We believe Starbucks can, and should, have a positive impact on the communities we serve.
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | What are our thoughts about planet 
                    i(class="fal fa-question")
                .a We are striving to become resource positive – giving back more than we take from the planet. We are working to store more carbon than we emit, replenish more 
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | How do we think about people 
                    i(class="fal fa-question")
                .a Our aspiration is to be people positive – investing in humanity and the well-being of everyone we connect with, from our partners to coffee farmers to the customers
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | How to brew  
                    i(class="fal fa-question")
                .a Whether you’re a coffee novice or a seasoned pro, we have all the tools you need to bring your brewing game to the next level.
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | What is our mission 
                    i(class="fal fa-question")
                .a To inspire and nurture the human spirit - one person, one cup and one neighborhood at a time.
            .s-question
                .q
                    i(class="fal fa-lock-alt")
                    i(class= "fal fa-lock-open-alt")
                    | What are our values 
                    i(class="fal fa-question")
                .a Creating a culture of warmth and belonging, where everyone is welcome. Delivering our very best in all we do, holding ourselves accountable for results.