section.aboutPage
    .container
        .aboutItems
            .aboutItem
                .itemImg
                    img(src="./images/pexels-tim-douglas-6205611.jpg", alt="")
                    h3 Coffee & Craft
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 Coffee & Craft
                        p It takes many hands to craft the perfect cup of coffee – from the farmers who tend to the red-ripe coffee cherries, to the master roasters who coax the best from every bean
                        .closing
                            i(class ="fal fa-lock-open-alt")
            .aboutItem
                .itemImg
                    img(src="./images/pexels-kaique-rocha-109919.jpg", alt="")
                    h3 People
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 People
                        p Our aspiration is to be people positive – investing in humanity and the well-being of everyone we connect with, from our partners to coffee farmers to the customers in our stores and beyond.
                        .closing
                            i(class ="fal fa-lock-open-alt")
            .aboutItem
                .itemImg
                    img(src="./images/pexels-august-de-richelieu-4427814.jpg", alt="")
                    h3 Partners
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 Partners
                        p We are committed to making our partners proud and investing in their health, well-being and success and to creating a culture of belonging where everyone is welcome.
                        .closing
                            i(class ="fal fa-lock-open-alt")
            .aboutItem
                .itemImg
                    img(src="./images/pexels-katerina-holmes-5910783.jpg", alt="")
                    h3 Services 
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 Services
                        p As it has been from the beginning, our purpose goes far beyond profit. We believe Starbucks can, and should, have a positive impact on the communities we serve.
                        .closing
                            i(class ="fal fa-lock-open-alt")
            .aboutItem
                .itemImg
                    img(src="./images/pexels-afta-putta-gunawan-683039.jpg", alt="")
                    h3 Heritage
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 Heritage
                        p In everything we do, we are always dedicated to Our Mission: to inspire and nurture the human spirit – one person, one cup, and one neighborhood at a time.
                        .closing
                            i(class ="fal fa-lock-open-alt")
            .aboutItem
                .itemImg
                    img(src="./images/pexels-los-muertos-crew-7487374.jpg", alt="")
                    h3 Staff
                    span.btn
                        i(class="fal fa-lock-alt")
                .itemOffCanvas
                    .sideMain
                        h3 Staff
                        p As it has been from the beginning, our purpose goes far beyond profit. We believe Starbucks can, and should, have a positive impact on the communities we serve
                        .closing
                            i(class ="fal fa-lock-open-alt")